.loader {
    width: var(--loader-width, 2rem);
    height: var(--loader-width, 2rem);
    border-radius: 50%;
    border-width: var(--loader-b-width, 3px);
    border-style: solid;
    border-left-color: var(--loader-color, #c0c6c0);
    border-top-color: transparent;
    border-right-color: var(--loader-color, #c0c6c0);
    border-bottom-color: transparent;
    animation: loader-rotation 1s infinite;
}

@keyframes loader-rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}