.app {
    min-height: 100vh;
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
    padding-top: 5rem;
    background-color: #161b22;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f0f6f0;
}

header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: 1.5rem;
    text-align: center;
}

header > h2 {
    transform: translateY(5px); /* Translating more to center*/
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
}

.github-icon {
    fill: #f0f6f0;
}
